
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;

  }
  .hero {
    width: 100%;
    height: 100vh;
    background-color: beige
   
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 100px;
  }

  .logo {
    max-height: 60px;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
  }

  nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
  }

  nav ul li a:hover {
    color: orange;
  }

  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: orange;
    transition: 0.3s;
    bottom: 0;
  }

  nav ul li a:hover:after {
    width: 100%;
  }

.container{
    position: relative;
    height: 100vh; /* Set height to 100vh */
    width: 70%;
    margin: 0 auto;
    padding: 40px 20px;

}

.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: beige;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 30%;
    outline: none;
    border: none;
    background-color: beige;
    padding: 0 15px 0 45px;
    color: white;
    border-radius: 6px;
    
}

.search-box i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
    
}

.container .images .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige
}

.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: beige
}

.images .image-box{
    margin: 8px;
}

.images .image-box img{
    height: 100%;
    width: auto;
    border-radius: 6px;
    transition: transform 0.2s linear;
}

.image-box:hover img{
    transform: scale(1.05);
}

.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.lowerAngle {
  width: 50px;
  height: 50px;
  background: black;
  font-weight: 700;
  color: beige;
  position: fixed;
  top: 620px;
  right: 258px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 70%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s linear;
}

